.YearOk {
  -fx-text-fill: green;
}

.YearNotOk {
  -fx-text-fill: red;
}

.ShortFormOk {
  -fx-text-fill: green;
}

.ShortFormNotOk {
  -fx-text-fill: red;
}

.PopulationOk {
  -fx-text-fill: green;
}

.PopulationNotOk {
  -fx-text-fill: red;
}

.LanguageOk {
  -fx-text-fill: green;
}

.LanguageNotOk {
  -fx-text-fill: red;
}

.AreaOk {
  -fx-text-fill: green;
}

.AreaNotOk {
  -fx-text-fill: red;
}